<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script>
  $(document).ready(function(){
  	(:not(h3)).hide();
		
	$("#faq h3").click(function (){
	//selezioniamo tutte le risposte
	var risposta = $(this).siblings();
	//mostriamo/nascondiamo le risposte
	risposta.slideToggle("slow");
});
  </script>
	


<div class="title">
	<h2>FAQ</h2>
	<span class="byline">CERCHEREMO DI RISOLVERE I TUOI DUBBI</span>
	<br><br>
	

		<?php $i=1 ?> 
		<?php foreach ($this->riga as $x) {?>
		<div>
			<ul id='faq1'>
				<li id='faq2'>
				<!--echo  $i++;
				//echo ")&nbsp";-->
					<h3 id='faq3'>
					<?php echo  $x->domanda.'?';?>
					</h3>	
				</li>
				<p id="faqp">
				<?php echo $x->risposta.'.';}?>
				</p>
			</ul>
		</div>
	</div>



