<div class="title">
				<h2>BENVENUTO</h2>
				<span class="byline">WELLCOME ON DENDE HEALER</span>
</div>
<div>
<p>Benvenuto!</p>
<p>Siamo i leader mondiali per quanto riguarda attività di telemedicina nel campo della neuro-riabilitazione</p>
<p>Vieni a trovarci nel nostro centro specializzato, le indicazioni sono nella sezione dove siamo!</p>
<p>Il nostro centro offre competenza e disponibilità del personale più all'avanguardia del settore</p>
<p>Attraverso il portale web potrai tener traccia di tutti i sintomi episodi o disturbi, sarai sempre seguito da un clinico o equipe di clinici</p>
<p>L'accesso al portale web è consentito solo a coloro che già sono seguiti da uno dei nostri medici; le credenziali d'accesso sarà fornita dal nostro centro, poi è cura del paziente modificare i propri dati anagrafici</p>
</div>