<div class="title">
				<h2>Login</h2>
				<span class="byline">inserisci i tuoi dati per l'autenticazione</span>
			
</div>

<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/dende.js'))
	->captureStart() ?>

$(function()
{
	var actionUrl='<?php echo $this->url(array('controller' => 'public', 'action' => 'validatelogin'), 'default'); ?>';
	var formName='<?php echo $this->loginForm->getName() ?>';
	$(":input").on('blur', function(event) {
    var formElementId = $(this).attr('id');
    doValidation(formElementId, actionUrl, formName);
    });
});

<?php $this->headScript()->captureEnd() ?>


<?=$this->loginForm; ?>