<br>
<div class="title">
				<h2>DOVE SIAMO</h2>
				<br>
				<br>
				<iframe width="638" height="525" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" align="left" src="http://maps.google.it/maps?f=q&amp;source=s_q&amp;hl=it&amp;geocode=&amp;q=Via+Brecce+Bianche,+12,+Ancona&amp;aq=0&amp;sll=41.442726,12.392578&amp;sspn=23.377375,53.657227&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Brecce+Bianche,+12,+60131+Ancona,+Marche&amp;z=14&amp;ll=43.581248,13.515684&amp;output=embed">	
					</iframe>
				<small>
					<!--<a href="http://maps.google.it/maps?f=q&amp;source=embed&amp;hl=it&amp;geocode=&amp;q=Via+Brecce+Bianche,+12,+Ancona&amp;aq=0&amp;sll=41.442726,12.392578&amp;sspn=23.377375,53.657227&amp;ie=UTF8&amp;hq=&amp;hnear=Via+Brecce+Bianche,+12,+60131+Ancona,+Marche&amp;z=14&amp;ll=43.581248,13.515684" style="color:#0000FF;text-align:left">Visualizzazione ingrandita della mappa</a>-->
					</small>
				<br>
					<a href="#" class="image image-left">
				<img src="<?php echo $this->baseurl('images/autostrada.jpg')?>" /></a>
				<h4>Via autostrada: A14 uscita Ancona Sud-Osimo</h4>
				</p>
				<br>
				<p>
					<a href="#" class="image image-left">
				<img src="<?php echo $this->baseurl('images/treno.jpg')?>" /></a>
				<h4>Via treno: stazione di Ancona</h4>
				<br>
				</p>
				<p>
				<a href="#" class="image image-left">
				<img src="<?php echo $this->baseurl('images/aereo.jpg')?>" /></a>
				<h4>Via aereo: aereoporto Ancona Falconara- Raffaello Sanzio</h4>	
				</p>
				<br>
				<p>
				<!--<span class="title">VIENI A TROVARCI</span>-->

</div>