<div class="title">
	
	<h2>maledetti DISTURBI di: <a href=<?=$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewpaziente',
	                        'id' => $this->paziente->idpaziente,
	                        'mio' => 1,
	                        ), 
	                        'default',true
	                    );?>><?=$this->paziente->cognome.' '.$this->paziente->nome?></a></h2>
	<span class="byline">aggiungi modifica o elimina disturbi  </span>
	<br><br>
	</div>
	<div>
	<div >
	<?php 
	if($this->disturbi != null){ 
		echo"<table id='tabella'> ";
	  	echo"<col style='width: 50px' />";
	  	echo"<tr class='tabprima'> ";
	    echo"<th> Disturbo </th> ";
	    echo"<th></th>";
	 	echo"</tr>";
	  	echo"<br>";
		$i=0;
		foreach ($this->disturbi as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";	
			echo  $x->nome;
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'cancellapatologia',
	                        'paziente' => $this->paziente->idpaziente,
	                        'disturbo' => $x->iddisturbo,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			echo "</td>";
			}
		echo"</table>";
		echo"<div >";
		echo"<h6>*attenzione l'eliminazione di un disturbo potrebbe comportare la cancellazione di una terapia!</h6>";
		echo "</div>";
	}else
		echo"<h4>".$this->paziente->cognome.' '.$this->paziente->nome.' non ha disturbi associati</h4>';
	?>
	</div>

	</div>
	<div class="title">
	<span class="byline">assegna un nuovo disturbo a <?=$this->paziente->cognome.' '.$this->paziente->nome?> </span>
	</div>
	<div style="border: 2px solid rgb(0, 170, 187); width: 200px; border-radius: 4px; margin: 0px 0px 10px 10px;">
		<?=$this->alldisturbi;?>
	</div>
	<div>
		<a href=<?=$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewpaziente',
	                        'id' => $this->paziente->idpaziente,
	                        'mio' => 1,
	                        ), 
	                        'default',true
	                    );?>>Torna al profilo di <?=$this->paziente->cognome.' '.$this->paziente->nome?></a>
	</div>	

