<div class="title">
	<h2>EPISODIO</h2>
	<span class="byline">ELENCO EPISODI!</span>
	<span class="byline"> where:  <?php echo $this->where; ?></span>
</div>
	<div>
	<p>applica un filtro sugli episodi</p>	
	<?= $this->filtraform; ?>	
	</div>

<div style="margin: 10px">
			<a class='tastoblu' href="<?= $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'episodio',
							'id' =>$this->utente), 
	                        'default',true );  ?>"
			title="torna alla visualizzazione totale">azzera filtro</a>
</div>
<div style="margin: 10px">
			<a class='tastoblu' href="<?= $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewpaziente',
							'id' =>$this->utente,
							'mio'=>1,
							), 
	                        'default',true );  ?>"
			title="torna alla visualizzazione totale">torna indietro</a>
</div>
<div>
	<table id="tabella2"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	  		<th>disturbo</th>
	        <th>intensita </th>
	        <th>durata </th>
	        <th>data</th>
	  </tr>


		 <?php 
		 	if(count($this->riga) > 0){
		 	
		 	$i=1;
			 foreach ($this->riga as $x) {
				
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $this->dist[$x->disturbo];
			echo "</td><td>";
			echo  $x->intensita;
			echo "</td><td>";
			echo  $x->durata;
			echo "</td><td>";
			echo  $x->data;
			echo "</td></tr>";
			}
			}else {
				echo" <script> window.alert('nessun risultato!')</script>";
			}
		?>
		</table>
</div>