<div class="title">
	<h2>I miei pazienti</h2>
	<span class="byline">filtra i pazienti cercando per nome e cognome e viceversa, è possibile effettuare la ricerca specificando il nome parziale seguito dal carattere speciale * alla fine.</span>
	<br><br>
</div>
				<?= $this->search ?>
				<p>   </p>

<div >
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	    	<th>id</th>
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>eta</th> 
	        <th>dettagli</th>
	    </tr>
		<?php $i=1 ?> 
		<?php foreach ($this->pazienti as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->idpaziente;
			echo "</td><td>";
			echo $x->nome;
			echo "</td><td>";
			echo $x->cognome;
			echo "</td><td>";
			echo $x->eta;
			echo "</td>";
			echo "<td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'viewpaziente',
	                        'id' => $x->idpaziente,
	                        'mio'=>'1'
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/avatar.png');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			echo "</td></tr>";
			
	echo"</div>";
	}
		?>
	</table>
</div>
