<?php $x = $this -> paziente;?>

<div class="profilo" >
		<h4>paziente: <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		
		<br><br><br>
		<?php 
			$id = $x->idpaziente;
			echo"<div><ul>";
			if($this->mio != null){ //le azioni che il clinico puo' fare cambiano se il paziente è suo!
				echo "<li><a href='";
				echo $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'disturbo',
	                        'id' => $x->idpaziente,
	                        'mio'=>1,
							), 
	                        'default',true);
				echo "'>disturbi</a></li>";
				echo "<li><a href=".$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'addterapia',
	                        'id' => $x->idpaziente), 
	                        'default',true)
	                 .">terapie</a></li>
						<li><a  href=".$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'cartella',
	                        'id' => $x->idpaziente), 
	                        'default',true)
	                 .">cartella clinica</a></li>
						<li><a  href=".$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'episodio',
	                        'id' => $x->idpaziente), 
	                        'default',true)
	                 .">episodi</a></li>";
			}else {
				echo "<a href='";
				echo $this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'seguilo',
	                        'id' => $x->idpaziente,
	                        'mio'=>1,
							), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			}
			echo"</ul></div>";
		?>

		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->