<?= $this->render('_sidedirettore.phtml') ?>
<div class="box2">
	<ul class="style2">
		<li>
			<div class="title">
				<h2>Admin </a>
		</h2>
			</div>
			<div id="sideadm">
			<ul class="style2">	
				<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'faq',
	                      	), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">aggiungi faq</a></li>
				<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'analisi',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">analisi</a></li>
			
			<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'personale',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione personale</a></li>
			<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'pazienti',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione pazienti</a></li>
			</ul>
			</div>
		</li>
	</ul>
</div>
