<?=$this->loginForm; ?>
<!-- <h2><a href="#" onclick="document.getElementById('sidecli').style.visibility='visible' "> Clinico </a></h2> 
	dentro al <li><div id="sidecli" style="visibility:hidden"> </li>
	-->

<div class="box2">
	<ul class="style2">
		<li>	
			<div class="title">
				<h2>Clinico </h2>
			</div>
			<div id="sidecli">
				<ul class="style2">
					<li><a href="#">profilo</a></li>
					<li><a href="#">nuovo paziente</a></li>
					<li><a href="#">Miei Pazienti</a></li>
					<li><a href="#">Aggiungi paziente </a></li>
				</ul>
			</div>
		</li>
		<li>	
			<div class="title">
				<h2>Direttore</h2>
			</div>
			
			<div id="sidedir">
			<ul class="style2">
				<li><a href="#">Profilo</a></li>
				<li><a href="#">Clinici</a></li>
				<li><a href="#">Pazienti</a></li>
				<li><a href="#">ass clinico/paziente</a></li>
				<li><a href="#">Aggiungi Disturbo</a></li>
			</ul>
			</div>
		</li>
		<li>
			<div class="title">
				<h2>Admin </a>
		</h2>
			</div>
		
			<div id="sideadm">
			<ul class="style2">
				<li><a href="#">profilo</a></li>
				<li><a href="#">Gestione Direttore</a></li>
				<li><a href="#">analisi</a></li>
			</ul>
			</div>
		</li>
	
	</ul>

</div>
