
<div class="box2">
	<ul class="style2">
		<li>	
			<div class="title">
				<h2>Paziente</h2>
			</div>
			<div id="sidecli">
				<ul class="style2">

					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'cartella',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">cartella clinica</a></li>
					
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'episodio',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione eventi</a></li>
				</ul>
			</div>
		</li>
	</ul>
</div>