<?= $this->render('_sideclinico.phtml') ?>

<div class="box2">
	<ul class="style2">
		<li>	
		<div class="title">
			<h2>Direttore</h2>
		</div>
		<div id="sidedir">
				<ul class="style2">

					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'clinico',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="visualizza l'elenco dei clinici">clinici</a></li>
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'pazienti',
	                        ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">pazienti</a></li>
					<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'cliniciepazienti'), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">clinico/paziente</a></li>
								<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'disturbo',
	                       ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione disturbo</a></li>
			<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'farmaco',
	                       ), 
				            'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione farmaci</a></li>
			<li class="current_page_item"><a
			href="
	                <?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'attivita',
	                       ), 
	                        'default',true
	                    ); 
	                 ?>"
			title="Il nostro profilo aziendale">gestione attività</a></li>
				</ul>
		</div>
		</li>
	</ul>
</div>