<?php echo $this->doctype() ?>
<html>
<head>
	<?= $this->headMeta(); ?>
    <?= $this->headLink(); ?>
    <?= $this->headTitle(); ?>
    <?= $this->headScript(); ?>


<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script>
  $(function() {
    $( "#data" ).datepicker({
  		dateFormat: "yy-mm-dd "
		});
	var dateFormat = $( "#data" ).datepicker( "option", "dateFormat");

  });
    $(function() {
    $( "#datapre" ).datepicker({
  		dateFormat: "yy-mm-dd "
		});
	var dateFormat = $( "#data" ).datepicker( "option", "dateFormat");

  });
    $(function() {
    $( "#datapost" ).datepicker({
  		dateFormat: "yy-mm-dd "
		});
	var dateFormat = $( "#data" ).datepicker( "option", "dateFormat");

  });
  </script>

</head>
<body>
<div id="ohsnap"></div>  <!-- Div che serve per la notifica in verde -->
<div id="wrapper">
	<div id="header-wrapper">
		<div id="header" class="container">
			<div id="logo">
				<h1><a href="#">Dende Healer</a></h1>
				<p>Design by GRUPPO 15</p>
			</div>
		</div>
	</div>
	
<!-- end #header -->
	
	<div id="menu-wrapper">
        <?= $this->render('_topnavpaz.phtml') ?>
	</div>
	
	
	<div id="page" class="container">
		<div id="content">
				<?php echo $this->layout()->content;?>
			</div>
		<div id="sidebar">
			<?= $this->render('_sidepaziente.phtml') ?>
		</div>
	</div>
</div>
<div id="footer">
		<p>universit&agrave; politecnica delle marche - Corso di  <a href="http://www.dii.univpm.it/C3I110NA/">tecnologie web</a>.</p>
	</div>

</body>
</html>