<div class="title">
	<h2>clinici</h2>
	<span class="byline">Elenco dei Clinici della struttura</span>
	<br><br>
</div>
<div>
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>Ruolo</th> 
	        <th>Specializzazione</th> 
   	        <th>dettagli</th>

	    </tr> 
	    <?php $i=1?>
		<?php foreach ($this->riga as $x) {	
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->nome;
			echo "</td><td>";
			echo  $x->cognome;
			echo "</td><td>";
			echo  $x->ruolo;
			echo "</td><td>";
			echo  $x->specializzazione;
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'viewclinico',
	                        'id' => $x->idclinico,
	                        'from' => 'clinico',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/avatar.png');
			echo" style=\"width: 20px; margin-right: 20px; float: right;\" >";
			echo "</a>";
			echo "</td></tr>";
			}
		?>
	</table>
	
</div>