<div class="title">
	<h2>clinici</h2>
	<span class="byline">Elenco pazienti, effettua un filtraggio</span>
	<br><br>
</div>

<div>
	<div>
	<?= $this->filtrapazienti; ?>	
	<a class='icone' href="<?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'cliniciepazienti'), 
	                        'default',true );  ?>"
			title="torna alla visualizzazione totale"><img src=" <?= $this->baseurl('images/reset.png');?> ">
	</a>
	</div>
	<?php 
		foreach ($this->clini as $clinico){					//scorro tutti i clinici
			echo "<h4><a href=".$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'viewclinico',
	                        'id'		=>	$clinico->idclinico,
							'from'		=> 'cliniciepazienti'), 
	                        'default',true)."> dott: ".$clinico->cognome;
			echo " ".$clinico->nome."</a></h4>";
			$i=1;
			echo"<table id='tabella'>";
		    echo"<col />";
		    echo"<col />";
		    echo"<col />";    
		    echo"<col />";
	
		    echo"	<tr class='tabprima'> ";
		    echo"   <th>nome </th> ";
		    echo"   <th>cognome</th> ";
			echo"   <th>sesso</th> ";
			echo"   <th>eta</th> ";
			echo"   <th>visita</th> ";
			echo"   <th>rimuovi</th> ";
		    echo"	</tr>";
			
			foreach ($this->segue as $s) {
				if($clinico->idclinico==$s->idclini){
					echo "<tr><td>";
					echo  $this->pnome[$s->idpazi];
					echo "</td><td>";
					echo  $this->pcognome[$s->idpazi];
					echo "</td><td>";
					echo  $this->psesso[$s->idpazi];
					echo "</td><td>";
					echo  $this->peta[$s->idpazi];
					echo "</td><td>";
					echo "<a href='";
					echo 	$this->url(array(
			                        'controller' => 'direttore',
			                        'action'     => 'viewpaziente',
			                        'from'		=> 'cliniciepazienti',
			                        'id' => $s->idpazi), 
			                        'default',true
			                    );
					echo "'title='visualizza i dettagli del paziente'><img src=";
					echo $this->baseurl('images/avatar.png');
					echo" style=\"width: 20px; margin-right: 15px; float: right;\" >";
					echo "</a>";
					echo "</td><td><a href='";
					echo 	$this->url(array(
		                  	 'controller' => 'direttore',
		               		 'action'     => 'delete',
		               		 'idclini' => $clinico->idclinico,
		               		 'idpazi' =>$s->idpazi,
		               		 'redirect'=>'cliniciepazienti'),
		                     'default',true);
					echo "'title='cancella associazione tra paziente e clinico'><img src='";
					echo $this->baseurl('images/x.gif');
					echo " 'style=\"width: 25px; margin-right: 20px; float: right;\" >";
					echo "</a></td>";
					echo "</td></tr>";
				}
			}
			echo "</table>";
		} 
	?>
</div>