<div class="title">
	<h2>FARMACI</h2>
	<span class="byline">ELENCO FARMACI</span>
</div>
<div>
<?php echo "<a class='icone' title='aggiungi un nuovo farmaco' href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'newfarmaco',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\"width: 40px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>"?>
			</div>
<div >
	<table id="tabella"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	        <th>nome </th> 
	        <th></th>
	        <th></th>
	  </tr>
	  <br>
		<?php $i=1?>
		
			
		<?php foreach ($this->riga as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";	
			echo  $x->nome;
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'cancellafarmaco',
	                        'farmaco' => $x->idfarmaco,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src='";
			echo $this->baseurl('images/x.gif');
			echo " ' class = 'iconatabella' >";
			echo "</a>";
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'modificafarmaco',
	                        'farmaco'=> $x->idfarmaco,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" ' class = 'iconatabella' >";
			echo"</td>";
			echo "</a>";
					
			}
		?>
		</table>
</div>