<div class="title">
	<h2>tutti i pazienti</h2>
	<span class="byline">filtra i pazienti cercando per nome e cognome e viceversa, è possibile effettuare la ricerca specificando il nome parziale seguito dal carattere speciale * </span>
	<br><br>
</div>

<div  style="margin: 10px">
				<?= $this->search ?>
			<a class="icone" href="<?= $this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'pazienti'), 
	                        'default',true );  ?>"
			title="torna alla visualizzazione totale">
			<img src=" <?= $this->baseurl('images/reset.png');?> ">
			
						
</a>
</div>
<div >
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />
	    <tr class="tabprima"> 
	    	<th>id</th>
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>eta</th> 
	        <th>dettagli</th>
	    </tr>
		<?php $i=1 ?> 
		<?php foreach ($this->pazienti as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->idpaziente;
			echo "</td><td>";
			echo $x->nome;
			echo "</td><td>";
			echo $x->cognome;
			echo "</td><td>";
			echo $x->eta;
			echo "</td>";
			echo "<td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => 'viewpaziente',
	                        'from'		=> 'pazienti',
	                        'id' => $x->idpaziente,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/avatar.png');
			echo" style=\"width: 20px; margin-right: 20px; float: right;\" >";
			echo "</a>";
			echo "</td></tr>";
			
	echo"</div>";
	}
		?>
	</table>
</div>
