<?php $x = $this -> paziente;?>
<div class="title">		
	<h2>dettaglio del paziente</h2>
	<span class="byline">visualizza i dettagli e modifica i clinici che seguono il paziente </span>
</div>
<div class="profilo" >
		<h4>paziente: <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		
		<br><br><br>
</div>	
		<?php 
		if(count($this->clinico) != 0 ){
			echo "<h4>Seguito dai seguenti dottori: </h4>";
			echo"<div class='clinici'><table style='padding: 5px;text-transform: uppercase;'><tr>";
			foreach ($this->clinico as $y) {
				echo "<td>";
				echo  $this->clinome[$y->idclini]." &nbsp".$this->clicog[$y->idclini];
				echo "</td><td><a  href='";
				echo 	$this->url(array(
	                  	 'controller' => 'direttore',
	               		 'action'     => 'delete',
	               		 'idclini' => $y->idclini,
	               		 'idpazi' =>$x->idpaziente,
	               		 'redirect'=>'viewpaziente'),
	                     'default',true);
				echo "'><img src='";
				echo $this->baseurl('images/x.gif');
				echo " '>";
				echo "</a></td></tr>";
			}
			echo"</table></div>";
		}else	echo '<h3> il paziente non è seguito da nessun medico!</h3>'; 
	?> 
	<br><br>
	<?php /*
			$id = $x->idpaziente;     
			echo"<div><ul>";
			echo "<li><a href='";
			echo $this->url(array(
                        'controller' => 'direttore',
                        'action'     => 'assegnaclinico',
                        'id' => $x->idpaziente), 
                        'default',true);
			echo "'>assegna clinico</a></li>";
			echo"</ul></div>";
		*/?>
		<div class="title" style="padding-top: 10px;">
			<h2><img src= '<?= $this->baseurl('images/plus.png');?>'style="width: 20px; margin-right: 5px;" >assegna un clinico al paziente</h2>
			<div class='clinici'>
				<?= $this->assegnaform;?>
			</div>
		</div>
		<a href='<?=$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => $this->from),
		                  'default',true); ?> ' title="torna alla schermata precedente"> 
			<img style='width: 40px' src= '<?= $this->baseurl('images/back.png');?>'>
		</a>
		<div style="clear:both;"></div>
