<?php $x = $this -> clinico;?>

<div class="profilo" >
		<h4>Dettaglio del dottor: <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><span>Ruolo: </span><?php echo $x -> ruolo;?> | <span>Specializzazione:</span> <?php echo $x -> specializzazione;?></p>
</div> 

		<a href='<?=$this->url(array(
	                        'controller' => 'direttore',
	                        'action'     => $this->from),
		                  'default',true); ?> ' title="torna alla schermata precedente"> 
			<img style='width: 40px; float:right; margin:3px;' src= '<?= $this->baseurl('images/back.png');?>'>
		</a>
		<div style="clear:both;"></div>

