<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		
		}
			if($notifica==NULL){
				$notifica=0;
			}
		?>

<?php $this->headScript()->captureEnd() ?>
<?php $x = $this -> cartella;?>
<script>
	notifica(<?php echo $notifica;?>);
	$('#profile').onclick =notifica(0);
</script>
<div class="profilo" >
		<h4>Benvenuto, <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->

<div class="profilo" > <!-- Div con la view dei disturbi a te assegnati e degli episodi inseriti -->
		<h4>Disturbi: <span>
			<?php foreach ($this->riga as $x) {
			echo  $this->dist[$x->iddisturbo]." &nbsp&nbsp&nbsp";
			}?> </span></h4>
			<br><br>
			<h4>Episodi registrati</h4>
			<?php if($this->episodio != null){
				foreach ($this->episodio as $x) {
			echo "<p> ".$this ->epi[$x->disturbo]." - <span>Durata: </span>".$x -> durata ." secondi - <span>Intensit&agrave;: </span>". $x -> intensita. " - <span>Data: </span>". $x -> data."</p>";
				}
			}
			?>
</div> <!--div con le informazioni-->
<div class="profilo" > <!-- Div con la view dei medici che ti seguono e delle terapie a te assegnate da essi. -->
		<h4>Medici che ti seguono: <span>
			<?php if($this->clinico != null){
						foreach ($this->clinico as $x) {
							echo  $this->cli[$x->idclini]." &nbsp&nbsp&nbsp";
				 		}
				 }?> </span></h4>
			<br><br>
			<h4>Terapie previste:</h4>
			<?php if($this->terapia != null){
				foreach ($this->terapia as $x){		
					echo "<p>".$this->att[$x->idterapia]." - ".$this->durata[$x->idterapia]." giorni"."</p>";
					if($this->farm[$x->idterapia]!= null){
						echo "<p>".$this->farm[$x->idterapia]." - ".$this->dosaggio[$x->idterapia]."mg"."</p>";
					}
			 		echo "<p><span>Prescritta da: </span>".$x->clinico.", "."<span>in data: </span>". $x->data."</p>";
			 	 }
			 }?>			
</div>