<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		} 
		if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<?php if($this->alert == 1){
		echo "<script>correct()</script>";
	}?>
<script>notifica(<?php echo $notifica;?>);</script>

<div class="title">
	<h2>EPISODIO</h2>
	<span class="byline">ELENCO EPISODI</span>
</div>
	<div>
	<p>applica un filtro sui pazienti</p>	
	<?= $this->filtraform; ?>	
	</div>
<div>
	<?php echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'newepisodio',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\"width: 20px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>"?>
			<br><font color="green" >Aggiungi Episodio</font></div>
			

<?php if($this->da != NULL){
			echo"<span class='byline'><p>la data selezionata va da:";  
			echo $this->da; 
			echo"a:";
			echo $this->a;
			echo"</p></span>";		
			echo"<div>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'cancellallfiltrati',
	                        'da'=>$this->da,
	                        'a'=>$this->a,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.jpg');
			echo" style=\"width: 20px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>";
			echo"<br><font color='red' >Elimina episodi filtrati</font></div>";
		}else{
			echo"<div>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'cancellall',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.jpg');
			echo" style=\"width: 20px; margin-right: 10px; float: left; margin-top: 8px;\" >";
			
			echo "</a>";
			echo"<br><font color='red' >Elimina tutti gli episodi</font></div>";
}?>

<div>
	<table id="tabella2"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	  		<th>disturbo</th>
	        <th>intensita </th>
	        <th>durata </th>
	        <th>data</th>
	        <th></th>
	        <th></th>
	  </tr>


		 <?php $i=1;
			 foreach ($this->riga as $x) {
				
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $this->dist[$x->disturbo];
			echo "</td><td>";
			echo  $x->intensita;
			echo "</td><td>";
			echo  $x->durata;
			echo "</td><td>";
			echo  $x->data;
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'modepisodio',
	                        'id'=> $x->idepisodio,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 20px; margin-right: 0px; float: center; margin-top: 8px;\" >";
			echo"</td><td>";
			echo "</a>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'cancellaepisodio',
	                        'id'=> $x->idepisodio,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 20px; margin-right: 0px; float: left; margin-top: 8px;\" >";
			
			echo "</a>";
			echo "</td></tr>";
			
			}
		?>
		</table>
</div>
