<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		} 
		if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<script>
	notifica(<?php echo $notifica;?>);
	$('#profile').onclick =notifica(0);
</script>
<div class="title">
	<h2>FAQ</h2>
	<span class="byline">CERCHEREMO DI RISOLVERE I TUOI DUBBI</span>
	<br><br>

		<?php $i=1 ?> 
		<?php foreach ($this->riga as $x) {
		echo"<div class='tabella' style='padding-right: 10px;'>";
echo"<dl class='style3'>";
			echo "<dt>";
			echo  $i++;
			echo ")&nbsp";
			echo  $x->domanda.'?';
			echo "</dt>";
			echo "<dd>";
			echo $x->risposta.'.';
			echo "</dd>";
			echo"</dl>";
	echo"</div>";}
		?>

</div>