<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		} 
		if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<script>notifica(<?php echo $notifica;?>);</script><div class="title">
	<h2>Modifica Credenziali</h2>
	<span class="byline">riempi i campi sottostanti</span>
	<br><br>
	<?=$this->updatepass; ?>	

</div>