<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		} 
		if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<script>notifica(<?php echo $notifica;?>);</script>
	<div class="title">
	<h2>Aggiungi un nuovo episodio</h2>
	<span class="byline">riempi i campi sottostanti</span>
	<br><br>
	
	<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/dende.js'))
	->captureStart() ?>

$(function()
{
	var actionUrl='<?php echo $this->url(array('controller' => 'paziente', 'action' => 'validateep'), 'default'); ?>';
	var formName='<?php echo $this->newepisodioForm->getName() ?>';
	$(":input").on('blur', function(event) {
    var formElementId = $(this).attr('id');
    doValidation(formElementId, actionUrl, formName);
    });
});

<?php $this->headScript()->captureEnd() ?>
	<?=$this->newepisodioForm; ?>	

</div>