<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
				$notifica += $z->notifica;
		} 
		if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<?php $x = $this -> profilo;?>
<script>notifica(<?php echo $notifica;?>);</script>
<div class="profilo" >
		<h4>Benvenuto, <span><?php echo $x -> nome.' '.$x -> cognome;?></span></h4>
		<p><?php echo $x -> eta?> anni - <?php echo $x -> genere?> | <span>Indirizzo:</span> <?php echo $x -> indirizzo?> | <span>Telefono:</span> <?php echo $x -> telefono?> | <span>Email:</span> <?php echo $x -> email?></p>
		<?php echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'modificapass',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";

			echo $this->baseurl('images/lucchetto.jpg');

			echo $this->baseurl('images/lucchetto.gif');
			echo" style=\"width: 20px; margin-right: 10px;margin-left: 10px; margin-top: 8px;margin-bottom: 8px;\" >"; // modificato per centrare la matita
			echo "</a>"; 
	 		echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'paziente',
	                        'action'     => 'newprof',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');

			echo" style=\"width: 20px; margin-right: 10px;margin-left: 10px; margin-top: 8px;margin-bottom: 8px;\" >"; // modificato per centrare la matita
			echo "</a>"; 	
			
			?>
		<div style="clear:both;"></div>
</div> <!--div con le informazioni-->