<?php $this->headScript()
	->appendFile('https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
	->appendFile($this->baseUrl('js/notifica.js'))
	->captureStart() ?>
		$notifica=0;
		<?php foreach($this->terapia as $z){
		$notifica += $z->notifica;
		} if($notifica == null){
			$notifica = 0;
		}?>
<?php $this->headScript()->captureEnd() ?>
<script>notifica(<?php echo $notifica;?>);</script>
<div class="title">
	<br><h2>Chi siamo</h2><br>
	<br>
	<p>Parliamo di noi</p> 	
</div>
<div>
	<div id="column1">
		<div class="title">
			<h2>MARCO </h2>
		</div>
		<a href="#" class="image image-full">
		<img src="<?php echo $this->baseurl('images/cucx.gif')?>" /></a>
		<span class="byline">Cuccagna Marco</span>
		<a href="mailto:cucx88@gmail.com" class="icon icon-plus-sign button">Contatta</a> 
	</div>
	<div id="column2">
		<div class="title">
			<h2>EROS</h2>
		</div>
		<a href="#" class="image image-full">
		<img src="<?php echo $this->baseurl('images/eros.jpg')?>" /></a>
		<span class"byline">Evandi Eros</span> 
		<a href="ersomspm@gmai.com" class="icon icon-plus-sign button">Contatta</a> 
	</div>
	<div id="column3">
		<div class="title">
			<h2>FABIOLA</h2>
		</div>
		<a href="#" class="image image-full">
		<img src="<?php echo $this->baseurl('images/faby.jpg')?>" /></a>
		<span class"byline">Farnese Fabiola</span> 
		<a href="fabiolafarnese91@gmail.com" class="icon icon-plus-sign button">Contatta</a> 
	</div>
	<div id="column4">
		<div class="title">
			<h2>MICHELE</h2>
		</div>
		<a href="#" class="image image-full">
		<img src="<?php echo $this->baseurl('images/michele.jpg')?>" /></a>
		<span class="byline">Landolfi Michele</span>
		<a href="mic.mnt@gmail.com" class="icon icon-plus-sign button">Contatta</a> 
	</div>
</div>
