<div class="title">
				<h2>ANALISI DATI:</h2>
				<br> <br>
				<span class="byline">1) Il numero medio di pazienti per clinico è:</span> &nbsp <?php echo $this->prova;?>	
				<br>
				<br>
				<span class="byline">2) Il numero medio di eventi per paziente è:</span> &nbsp <?php echo $this->prova2;?>
				<br>
				<br>
				<span class="byline">3)  &nbsp
				<?php if($this->da2 !=NULL){
						echo "numero di eventi da:";	
						echo $this->da2;
						echo "a:";
						echo $this->a2;
						echo"</span> &nbsp"; 
						echo $this->query3;
					}?>
				<?=$this->filtraform2;?>
				</span>
				<br>
				<br>
				<span class="byline">4) 
					<?php if($this->da !=NULL){
						echo "numero di terapie da:";	
						echo $this->da;
						echo "a:";
						echo $this->a;
						echo"</span> &nbsp"; 
						echo $this->nrterapie;
					}else{echo"numero di cambio terapie di un paziente";}?>
				<?=$this->filtraform;?>
				
				
</div>


