<div class="title">
	<h2>DISTURBO</h2>
	<span class="byline">ELENCO DISTURBI</span>
	<br><br>
</div>
<div >
	<table id="tabella2"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	        <th>nome </th> 
	  </tr>
	  
		<?php $i=1?>
		<?php foreach ($this->riga as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";	
			echo  $x->nome;	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'cancelladisturbo',
	                        'disturbo' => $x->iddisturbo,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 15px; margin-right: 10px; float: right; margin-top: 8px;\" >";
			echo "</a>";
			echo "</td>";
					
			}
		?>
		</table>
</div>