<meta http-equiv="Content-type" value="text/html; charset=UTF-8" />
<div class="title">
	<h2>FAQ</h2>
	<span class="byline">CERCHEREMO DI RISOLVERE I TUOI DUBBI</span>
	
	<div>
	<?php echo "<a  href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'newfaq',
	                        ), 
	                        'default',true
	                    );
			echo "'title='aggiungi una nuova faq'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" style=\" height:40px; margin-right: 10px; float: right; margin-bottom: 8px;\" >";
			
			echo "</a>"?>
	</div>
	<br><br>

		<?php $i=1 ?> 
		<?php foreach ($this->riga as $x) {
			echo"<div class='tabella' style='padding-right: 10px;'>";
			echo"<dl class='style3'>";
			echo "<dt>";
			echo  $i++;
			echo ")&nbsp";
			echo  $x->domanda.'?';
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'updatefaq',
	                        'dom' => $x->id,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 25px; margin-right: 1%; float: right;\" >";
			echo "</a></dt>";
						
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'cancfaq',
	                        'dom' => $x->id,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 25px; margin-right: 10px; float: right; margin-top:10px;\" >";
			echo "</a></dt>";
			echo "<dt>";
			echo $x->risposta.'.';
			
			echo "</dt>";
	echo"</dl>";
	echo"</div>";}
		?>
</div>
