<meta http-equiv="Content-type" value="text/html; charset=UTF-8" />
<div class="title">
	<h2>Aggiungi una nuova faq</h2>
	<span class="byline">riempi i campi sottostanti</span>
	<br><br>
	<?header('Content-type: text/html;charset=utf-8');?>
	<?=$this->faqForm; ?>

</div>