<div class="title">
	<h2>PAZIENTI</h2>
	<span class="byline">ELENCO PAZIENTI</span>
</div>
<div>
	<?php echo "<a class='icone' href='";
			echo 	$this->url(array(
	                        'controller' => 'clinico',
	                        'action'     => 'addpaziente',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo">";
			
			echo "</a>"?>
			<br></div>
<div >
	<table id="tabella2"> 
	  <col style="width: 50px" />
	  <tr class="tabprima"> 
	        <th>nome </th> 
	        <th>cognome</th>
	        <th>età</th>
	        <th>genere</th>
	        <th>indirizzo</th>
	        <th>email</th>
	        <th></th>
	        <th></th>
	  </tr>
	  <br>
		<?php $i=1?>
		
			
		<?php foreach ($this->riga as $x) {
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";	
			echo  $x->nome;
			echo "</td><td>";
			echo  $x->cognome;
			echo "</td><td>";
			echo  $x->eta;
			echo "</td><td>";
			echo  $x->genere;
			echo "</td><td>";
			echo  $x->indirizzo;
			echo "</td><td>";
			echo  $x->email;
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'cancellapaziente',
	                        'paziente' => $x->idpaziente,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 20px; margin-left: 20px; \" >";
			echo "</a>";
			echo "</td><td>";
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'modificapaziente',
	                        'paziente'=> $x->idpaziente,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 20px; margin-left: 20px;\" >";
			echo"</td>";
			echo "</a>";
					
			}
		?>
		</table>
</div>