<div class="title">
	<h2>clinici</h2>
	<span class="byline">Elenco Clinici</span>
	<br><br>

<div>
	<?php echo "<a class='icone' href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'addclinico',
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/plus.png');
			echo" >";
			
			echo "</a>"?>
			</div>
</div>


<div>
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>Ruolo</th> 
	        <th>Specializzazione</th> 
	        <th></th>
	        <th></th>
	        <th></th>
	    </tr> 
	    <?php $i=1?>
		<?php foreach ($this->riga as $x) {	
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $x->nome;
			echo "</td><td>";
			echo  $x->cognome;
			echo "</td><td>";
			echo  $x->ruolo;
			echo "</td><td>";
			echo  $x->specializzazione;
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'cancellaclinico',
	                        'clinico' => $x->idclinico,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 25px; margin-right: 0px; float: right;\" >";
			echo "</a>";
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'updateclinico',
	                        'clinico' => $x->idclinico,
	                        ), 
	                        'default',true
	                    );
			echo "'><img src=";
			echo $this->baseurl('images/mod.png');
			echo" style=\"width: 25px; margin-right: 0px; float: right;\" >";
			echo "</a>";
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'nuovodirettore',
	                        'direttore' => $x->idclinico,
	                        ), 
	                        'default',true
	                    );
												
			echo "'><img src=";
			echo $this->baseurl('images/star.png');
			echo" style=\"width: 25px; margin-right: 0px; float: right;\" >";
			echo "</a>";
			echo "</td>";
			}
		?>
	</table>
	
</div>

<h1>Direttori</h1>
<div>
	<table id="tabella">
	    <col style="width: 50px" />
	    <col />
	    <col />	    
	    <col />

	    <tr class="tabprima"> 
	        <th>nome </th> 
	        <th>cognome</th> 
	        <th>Ruolo</th> 
	        <th>Specializzazione</th> 
	        <th></th>
	       
	    </tr> 
	    <?php $i=1?>
		<?php foreach ($this->direttori as $d) {	
			if ( $i++ & 1 )
			{ 
    			echo '<tr class="tabdispari" >'; 
			}else{
				echo '<tr class="tabpari" >';
			}
			echo "<td>";
			echo  $d->nome;
			echo "</td><td>";
			echo  $d->cognome;
			echo "</td><td>";
			echo  $d->ruolo;
			echo "</td><td>";
			echo  $d->specializzazione;
			echo "</td><td>";	
			echo "<a href='";
			echo 	$this->url(array(
	                        'controller' => 'admin',
	                        'action'     => 'cancelladirettore',
	                        'direttore' => $x->idclinico,
	                        ), 
	                        'default',true
	                    );
												
			echo "'><img src=";
			echo $this->baseurl('images/x.gif');
			echo" style=\"width: 25px; margin-right: 0px; float: right;\" >";
			echo "</a>";
			echo "</td>";
			
		}?>
	</table>
	
</div>