<div class="title">
				<h2>Utenti</h2>
				<span class="byline">lista utenti</span>
<?php foreach ($this->riga as $x) {
		echo  $x->idutente;
		echo  $x->username;
		echo  $x->password;
		}
?>
</div>
